<div class="header">
  <img src="assets/back.svg" routerLink="/app/pontos">
  <div class="text">Detalhes do cupom</div>
</div>
<div class="container">
  <img src="assets/random4.png">
  <div class="card">
    <div class="bold">5% de desconto</div>
    no Resturante Garcias
  </div>

  <div class="text">Apresente o código abaixo ao restaurante, e ganhe o seu desconto: </div>
  <img src="assets/qr.png" class="qr">
  <h4>Código do cupom</h4>
  <div class="code">1Q1BUE</div>
  <div class="info">
    <div class="bold">Este cupom é válido de 13/06/2020 até 20/06/2020.</div>
    Ele só poderá ser utilizado uma vez, por issó.</div>
</div>