<div class="container-profile">
    <img class="img-profile" src="assets/photo-profile.svg" />
    <div class="title">Meus Pontos</div>
    <img class="dots" src="assets/2-dots.svg" />
    <div class="card">
        <div>
            <div class="text center">Metas Concluidas</div>
            <div class="goals">2</div>
        </div>
        <div class="line"></div>
        <div>
            <div class="text">Total acumulado</div>
            <div class="points">300 pontos</div>
        </div>
    </div>
</div>
<div class="container-points">
    <div class="text">Veja os benefícios que você pode resgatar:</div>
    <div class="box" routerLink="/detalhes">
        <img src="assets/random1.png" />
        <div class="info">
            <div class="title">5% de desconto no Resturante Garcias</div>
            <div class="description">Clique para resgatar</div>
        </div>
        <div class="disccount">50pts</div>
    </div>

    <div class="box" routerLink="/detalhes">
        <img src="assets/random3.png" />
        <div class="info">
            <div class="title">Você ganhou uma pernoite no posto Paradão</div>
            <div class="description">Clique para resgatar</div>
        </div>
        <div class="disccount">50pts</div>
    </div>

    <div class="box" routerLink="/detalhes">
        <img src="assets/random2.png" />
        <div class="info">
            <div class="title">
                Você ganhou uma janta na Churrascaria Paraíso
            </div>
            <div class="description">Clique para resgatar</div>
        </div>
        <div class="disccount">300pts</div>
    </div>

    <div class="box disabled">
            <img src="assets/random1.png" />
            <div class="info">
                <div class="title">5% de desconto no Resturante Garcias</div>
                <div class="description disabled">Faltam 100 pontos</div>
            </div>
            <div class="disccount">400pts</div>
        </div>
</div>
