<div class="container-routes">
    <div class="profile">
        <img src="assets/header.svg">
        <img class="img-profile" src="assets/photo-profile.svg">
        <div class="name">Antonio Fagundes</div>
        <div class="location">Rio Grande do Sul / RS</div>
    </div>
    <div class="input-location">
        <img class="lupa" src="assets/lupa.svg">
        <input/>
        <div class="voice">
            <img src="assets/voice.svg">
        </div>
    </div>
    <img class="img-map" src="assets/map.svg">
</div>