<div class="container-app">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="menu">
        <div class="item" routerLink="rota">
            <img src="assets/location.svg"/>
            <div>Rota</div>
        </div>
        <div class="item" routerLink="objetivos">
            <img src="assets/check.svg"/>
            <div>Objetivos</div>
        </div>
        <div class="item" routerLink="pontos">
            <img src="assets/trophy.svg"/>
            <div>Meus pontos</div>
        </div>
        <div class="item" routerLink="saude">
            <img src="assets/health.svg"/>
            <div>Minha saúde</div>
        </div>
    </div>
</div>
