<div class="waze">Waze está com sua rota pronta. Ir agora!</div>
<div class="container-profile">
    <div class="profile">
        <img class="photo" src="assets/photo-profile.svg" />
        <div>
            <div class="title">Motorista:</div>
            <div class="name">
                Antonio Fagundes
            </div>
        </div>
        <img class="bell" src="assets/bell.svg" />
    </div>
    <div class="card">
        <div class="trip">Viajem em andamento:</div>
        <div class="item">
            <img class="item dot" src="assets/local.svg" />
            <div class="text">Porto Alegre</div>
        </div>
        <div class="item">
            <img class="item dot2" src="assets/local-red.svg" />
            <div class="text">São Paulo</div>
        </div>
    </div>
</div>
<div class="container-goals">
    <div class="objetivos">
        Esses são os objetivos previstos para essa viagem.
    </div>
    <div class="objetivos-description">
        Eles podem mudar durante o trajeto, caso isso aconteça não se preocupe,
        você será avisado.
    </div>

    <div class="item">
        <div class="card">
            <img src="assets/step.svg" />
        </div>
        <div class="block">
            <div class="to-do">
                <div>
                    Pare por 5 minutos para alongar as pernas
                </div>
                <div class="percent">0%</div>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div class="item">
        <div class="card">
            <img src="assets/step.svg" />
        </div>
        <div class="block">
            <div class="to-do">
                <div>
                    Pare por 5 minutos para alongar as pernas
                </div>
                <div class="percent">0%</div>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div class="item">
        <div class="card">
            <img src="assets/talher.svg" />
        </div>
        <div class="block">
            <div class="to-do">
                <div>
                    Pare no posto Shell II por 20 minutos para dar uma pausa
                </div>
                <div class="percent">0%</div>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div class="item">
        <div class="card">
            <img src="assets/lua.svg" />
        </div>
        <div class="block">
            <div class="to-do">
                <div>
                    Pare no posto Ipiranga e descanse por 10 min
                </div>
                <div class="percent">0%</div>
            </div>
            <div class="line"></div>
        </div>
    </div>
</div>
